## Saving each chromosome as a separate parquet file

In [2]:
import dask.dataframe as dd
import pandas as pd
from fastparquet import write

In [3]:
all_variants = '/s/project/kipoi-cadd/data/processed/kipoi/all_variants'
parquet = dd.read_parquet(all_variants, index="ID")
parquet.head()

    y Chrom     Pos Ref Alt
ID
1   0     1  379177   T   G
2   0     1  379274   C   G
3   0     1  379476   A   T
4   0     1  379631   C   G
5   0     1  379724   A   G

In [12]:
chrom = 2
temp = parquet[parquet.Chrom == str(chrom)]
chrom_df = temp.compute()
chrom_df.Chrom = chrom_df.Chrom.astype('int64')

chrom_parquet = '/s/project/kipoi-cadd/data/processed/kipoi/chr' + str(chrom) + '/variant_labels.parq'
write(chrom_parquet, chrom_df)

### Checking that it worked...

In [16]:
from fastparquet import ParquetFile
pf = ParquetFile('/s/project/kipoi-cadd/data/processed/kipoi/chr1/variant_labels.parq')
df = pf.to_pandas()
df.head()

    y  Chrom     Pos Ref Alt
ID
1   0      1  379177   T   G
2   0      1  379274   C   G
3   0      1  379476   A   T
4   0      1  379631   C   G
5   0      1  379724   A   G