## Saving each chromosome as a separate parquet file

In [2]:
import dask.dataframe as dd
import pandas as pd
from fastparquet import write
from fastparquet import ParquetFile
from m_kipoi.config import VCF_HEADER  # hg19 based
from collections import OrderedDict

Using TensorFlow backend.

In [2]:
all_variants = '/s/project/kipoi-cadd/data/processed/kipoi/all_variants'
parquet = dd.read_parquet(all_variants, index="ID")
parquet.head()

    y Chrom     Pos Ref Alt
ID
1   0     1  379177   T   G
2   0     1  379274   C   G
3   0     1  379476   A   T
4   0     1  379631   C   G
5   0     1  379724   A   G

In [12]:
chrom = 2
temp = parquet[parquet.Chrom == str(chrom)]
chrom_df = temp.compute()
chrom_df.Chrom = chrom_df.Chrom.astype('int64')

chrom_parquet = '/s/project/kipoi-cadd/data/processed/kipoi/chr' + str(chrom) + '/variant_labels.parq'
write(chrom_parquet, chrom_df)

### Checking that it worked...

In [16]:
pf = ParquetFile('/s/project/kipoi-cadd/data/processed/kipoi/chr1/variant_labels.parq')
df = pf.to_pandas()
df.head()

    y  Chrom     Pos Ref Alt
ID
1   0      1  379177   T   G
2   0      1  379274   C   G
3   0      1  379476   A   T
4   0      1  379631   C   G
5   0      1  379724   A   G

## Saving each chromosome as VCF file
Using some of the tools provided by Kipoi to manage VCF files.
1. Pandas -> VCF file: [Kipoi code](https://github.com/kipoi/manuscript/blob/master/src/splicing/dbscSNV.smk#L44-L65)
2. BZip and tabix the resulting VCF file: [Kipoi code](https://github.com/kipoi/manuscript/blob/master/src/splicing/dbscSNV.smk#L75-L77)

In [3]:
chrom = 22
pf = ParquetFile('/s/project/kipoi-cadd/data/processed/kipoi/chr' + str(chrom) + '/variant_labels.parq')
df = pf.to_pandas()
df.sort_values(by='Pos', inplace=True)
df.head()

        y  Chrom       Pos Ref Alt
ID
150448  0     22  16139197   T   C
150449  0     22  16139326   G   A
150450  0     22  16139329   T   A
150451  0     22  16139736   T   A
150452  0     22  16139870   C   T

In [8]:
# Write the header
output = '/s/project/kipoi-cadd/data/processed/kipoi/chr' + str(chrom) + '/variants.vcf'

with open(output, "w") as f:
    f.write(VCF_HEADER)

# Append the variants
pd.DataFrame(OrderedDict([("#CHROM", df.Chrom.astype(str)),
                          ("POS", df.Pos),
                          ("ID", df.index.values),
                          ("REF", df.Ref),
                          ("ALT", df.Alt),
                          ("QUAL", "."),
                          ("FILTER", "."),
                          ("INFO", "."),
                          ])).to_csv(output, mode='a', header=True, index=False, sep="\t")